body {
	background-color: #191970;
}

.active {
	background-color: #4CAF50;
	color: white;
}

section {
	display: flex;
}

aside {
	flex:1
}

article{
	flex:4
}

.Picture {
	width: 200px;
	height: auto;
	border-style:solid;
}

nav li {
	float: left;
	display: inline;
	color: black;
}

nav a {
	display: block;
	padding: 8px;
	background-color: white;
}

li a:hover {
	background-color: #111;
}
}
}

h2 {
	color: white;
}

p {
	color: white;
}

h1 {
	color: #FFD700;
}

li {
	color: white;
}
